.filter {
    display: flex;
    justify-content: center;
    gap: 50px;
    user-select: none;

    label {
        text-transform: uppercase;
        margin: 0 10px 0 0;
        font-family: 'Gurajada';
        font-size: 45px;
    }

    .dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 50px 0;

        select {
            border: 1px solid #CCFF00;
            background: #FFF;
            background: none;
            width: 150px;
            height: 38px;
            text-align: center;
            border-radius: 10px;
            background: rgba(217, 217, 217, 0);
            background: none;
            color: #FFF;
            font-family: "Imprima";
            font-size: 18px;

            option {
                color: black;
                border: 1px solid #CCFF00;
            }
        }
    }

    .checkbox {
        display: flex;

        input {
            width: 40px;
            height: 40px;
            cursor: pointer;
            user-select: none;
        }
    }
}

.getMovieButton {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:1440px) {
    .filter {
        label {
            font-size: 28px;
        }
        .checkbox {
            input {
                width: 25px;
                height: 25px;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .overflow{
        height: calc(100vh - 110px);
        overflow-y: scroll;
    

        &::-webkit-scrollbar {
            width: 1px;
        }
    
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
    }
    .filter {
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;

        label {
            font-size: 16px;
        }

        .dropdown {
            margin: 0 0 20px 0;

            select {
                height: 25px;
            }
        }

        .checkbox {
            margin: 0 0 20px 0;

            input {
                width: 15px;
                height: 15px;
            }
        }
    }
}