
.getMovieButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    max-width: 50%;
    font-size: 45px;
    text-align: center;
    margin: 100px auto 0;
    font-weight: 700;
    span{
        display: block;
        text-transform: uppercase;
        margin: 80px 0 0 0;
    }
}


@media screen and (max-width: 740px) {
    .overflow{
        height: calc(100vh - 110px);
        overflow-y: scroll;
    

        &::-webkit-scrollbar {
            width: 1px;
        }
    
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
    }
    .description{
        max-width: 90%;
        font-size: 25px;
        margin: 30px auto 0;
        span{
            display: block;
            text-transform: uppercase;
            margin: 10px 0 0 0;
        }
    }
}