.backdrop {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(6px);
    position: absolute;
    top: 0;
    z-index: -1;
}

.container {
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    .moviePoster {
        box-shadow: 1px 1px 20px 1px #FFFFFF;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.044);
    }

    .information {
        max-width: 900px;

        .title {
            margin: 0 0 55px 0;
            color: #CCFF00;
            font-family: 'Gurajada';
            font-size: 45px;
            text-shadow: none;
        }

        .additional {
            display: flex;
            align-items: center;
            gap: 30px;

            .vote_average {
                font-family: 'Imprima';
                font-size: 24px;
            }

            .genres {
                font-family: 'Imprima';
                font-size: 28px;
            }
        }

        .overview {
            font-size: 22px;
            margin: 20px 0 60px 0;
        }

        .buttons {
            display: flex;
            justify-content: end;
            gap: 50px;
        }
    }
}

.drinkContainer {
    margin: 30px 0 0 0;
    border: 1px solid #ccff0040;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.184);
    max-width: calc(900px - 42px);

    img {
        border-radius: 10px;
    }

    .drinkInfo {
        width: 100%;

        .top {
            display: flex;
            justify-content: space-between;

            .drinkTitle {
                font-size: 22px;
                margin: 0 0 20px 0;
            }

            .other {
                width: 105px;
                height: 38px;
                border-radius: 10px;
                border: 1px solid rgba(204, 255, 0, 0.508);
                background: rgba(0, 0, 0, 0.518);

                cursor: pointer;
                user-select: none;
                color: #FFF;
                font-family: 'Imprima';
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width:1220px) {
    .container {
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;

        .moviePoster {
            max-width: 90vw;
        }

        .information {
            padding: 0 20px;
            max-width: 90vw;
            margin: 0 auto 40px auto;

            .title {
                margin: 0 0 25px 0;
                font-size: 25px;
                text-align: center;
            }

            .additional {
                justify-content: center;

                .vote_average {
                    font-size: 20px;
                }

                .genres {
                    font-size: 20px;
                }
            }

            .overview {
                font-size: 18px;

            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 20px;

                button {
                    max-width: 40vw;
                    font-size: 16px;
                }
            }
        }
    }

    .drinkContainer {
        margin: 0 auto 50px auto;
        justify-content: center;
        flex-direction: column;
        max-width: calc(90vw - 40px);
        background: rgba(255, 255, 255, 0.13);

        img {
            margin: 0 0 30px 0;
        }

        .drinkInfo {
            width: 100%;

            .top {
                display: flex;
                justify-content: space-between;

                .drinkTitle {
                    font-size: 22px;
                    margin: 0 0 20px 0;
                }
            }
        }
    }

}