.backdrop {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(6px);
    position: absolute;
    top: 0;
    z-index: -1;
}

.content {
    perspective: 1000px;
}

.animationContainer {
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
    &.flip {
        animation: flip 0.8s ease-in-out 1;
    }
}

@keyframes flip {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-90deg);
    }
}

.container {
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    &.next {
        visibility: hidden;
        transform: rotateX(90deg) translateZ(425px) translateY(-435px);
        &.flipCard {
            visibility: visible;
        }
    }

    .moviePoster {
        box-shadow: 1px 1px 20px 1px #FFFFFF;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.044);
        animation: neon 2s ease-in-out infinite;
    }

    .information {
        max-width: 900px;

        .title {
            margin: 0 0 55px 0;
            color: #CCFF00;
            font-family: 'Gurajada';
            font-size: 45px;
            text-shadow: none;

            text-shadow: 0 0 0 #CCFF00, 0 0 5px #CCFF00, 0 0 5px #CCFF00, 0 0 5px #CCFF00, 0 0 1px #fed128, 1px 1px 1px #806914;
        }

        .additional {
            display: flex;
            align-items: center;
            gap: 70px;

            .vote_average {
                font-family: 'Imprima';
                font-size: 24px;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 20px;
                    left: -25px;
                    top: 50%;
                    transform: translate(0, -50%);
                    background-image: url('./star.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            .genres {
                font-family: 'Imprima';
                font-size: 28px;
            }
        }

        .overview {
            font-size: 22px;
            margin: 20px 0 60px 0;
        }

        .buttons {
            display: flex;
            justify-content: end;
            gap: 50px;
        }
    }
}

.drinkContainer {
    margin: 30px 0 0 0;
    border: 1px solid #ccff0040;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.184);
    max-width: calc(900px - 42px);

    img {
        border-radius: 10px;
    }

    .drinkInfo {
        width: 100%;

        .top {
            display: flex;
            justify-content: space-between;

            .drinkTitle {
                font-size: 22px;
                margin: 0 0 20px 0;
            }

            .other {
                width: 105px;
                height: 38px;
                border-radius: 10px;
                border: 1px solid rgba(204, 255, 0, 0.508);
                background: rgba(0, 0, 0, 0.518);
                cursor: pointer;
                user-select: none;
                color: #FFF;
                font-family: 'Imprima';
                font-size: 18px;
                text-transform: uppercase;
                transition: all 0.2s ease-in-out;

                &:hover {
                    border: 1px solid transparent;
                    background: rgba(204, 255, 0, 0.49);
                }
            }
        }
    }
}

@keyframes neon {

    0%,
    100% {
        box-shadow: 1px 1px 20px 1px #FFFFFF;
    }

    50% {
        box-shadow: 1px 1px 5px 1px #CCFF00;
    }
}

@media screen and (max-width:1220px) {
    .test {
        perspective: 1000px;
    }

    .animationContainer {
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;


        &.flip {

            animation: none;
        }
    }

    .container {
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        transform: none;

        &.next {
            display: none;
        }

        .moviePoster {
            max-width: 90vw;
        }

        .information {
            padding: 0 20px;
            max-width: 90vw;
            margin: 0 auto 40px auto;

            .title {
                margin: 0 0 25px 0;
                font-size: 25px;
                text-align: center;
            }

            .additional {
                display: grid;
                grid-template-columns: 1fr auto;
                gap: 30px;

                .vote_average {
                    font-size: 20px;
                }

                .genres {
                    font-size: 20px;
                    align-self: flex-end;
                }
            }

            .overview {
                font-size: 18px;

            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 20px;

                button {
                    max-width: 40vw;
                    font-size: 16px;
                }
            }
        }
    }

    .drinkContainer {
        margin: 0 auto 100px auto;
        justify-content: center;
        flex-direction: column;
        max-width: calc(90vw - 40px);
        background: rgba(255, 255, 255, 0.13);

        img {
            margin: 0 0 30px 0;
        }

        .drinkInfo {
            width: 100%;

            .top {
                display: flex;
                justify-content: space-between;

                .drinkTitle {
                    font-size: 22px;
                    margin: 0 0 20px 0;
                }
            }
        }
    }
}